@page "/Students"
@model Vidhyalaya.Pages_Student.IndexModel



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-page="Create" class="btn btn-success" style="background-color:rgb(15, 99, 7); color:"><b><i class="bi bi-file-plus-fill"></i> CREATE</b></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].GuardianDetails)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuardianDetails)
            </td>
            <td>
               <td>
                        <a href="/Student/Edit" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                        <a href="/Student/Details" class="btn btn-primary"><i class="bi bi-eye-fill"></i></a>
                        <a href="/Student/Delete " class="btn btn-primary btn btn-danger "><i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
